

/* Подключение шрифта */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    overflow-wrap: break-word;
}
html {
    display: flex;
    justify-content: center;
}
 body {
    background-color: #f8f9fa;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1280px;
    height: 100%;
   position: relative;
}

/* Заголовок */
header {
    width: 1280px;
    height: 60px;
    box-shadow: 0 1px 3px 0 rgba(11, 12, 13, 0.16), 0 0 1px 0 rgba(11, 12, 13, 0.24);
background: #fff;
padding-left: 64px;
padding-right: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.counter {
    display: flex;
    align-items: center;
}
#counter {
    font-weight: 700;
}
.counter img {
    height: 24px;
    margin-right: 5px;
    color: #365fb8;
}

/* Форма добавления заметки */
.note-form, .content {

background: #fafafc;
}

.input-menu {
    display: flex;
    flex-direction: column;
    gap: 12px;
    border-radius: 4px;
margin: 24px 64px;
padding: 24px;
width: 1152px;
height: 228px;
box-shadow: 0 8px 12px 0 rgba(11, 12, 13, 0.08), 0 16px 24px 0 rgba(11, 12, 13, 0.04), 0 1px 2px 0 rgba(11, 12, 13, 0.08);
background: #fff;
}
.title {
    width: 344px;
    height: 60px;
}
label {
    font-size: 12px;
    color: #919191;
}
.description {
display: flex;
flex-direction: row;

}
.form-description {
    width: 848px;
height: 108px;

margin-right: 24px;
}
.options {
    width: 232px;
height: 108px;
}
input,textarea {
    width: 100%;
    border-radius: 10px;
    border: 1px solid #E8E8E8;
    font-size: 14px;
    color: #333;
    background-color: white;
}

textarea {
    
    height: 84px;
    resize: none;
padding: 6px 12px;
}
input {
    height: 36px;
}
/* Выбор цвета заметки */
.color-picker {
    width: 212px;
    height: 60px;
    font-weight: 400;
font-size: 12px;
line-height: 200%;
color: #919191;
}

.colors {
    width: 212px;
    height: 36px;
    display: flex;
    gap: 8px;
    
}
.colors div{
    display: flex;
width: 36px;
height: 36px;
align-items: center;
justify-content: center;
}
.selected {
    border-radius: 50%;
    border: 2px solid;
    
}
.border_yellow {color: yellow;}
.border_green {color: green;}
.border_blue {color:  #457cdc;}
.border_red {color: red;}
.border_purple {color: purple;}
.color {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    
    cursor: pointer;
    transition: transform 0.2s;
}
 /* .green {
    width: 36px; 
    height: 36px;
    background-color: #6ed6f7; 
    border: 4px solid #2366d1; 
    border-radius: 50%; 
    display: inline-block;
  } */ 

.color:hover {
    transform: scale(1.2);
}

.yellow { background: #F3DB7D; }
.green { background: #C2F37D; }
.blue { background: #7DE1F3; }
.red { background: #F37D7D; }
.purple { background: #E77DF3; }

/* Кнопка добавления */
.add-note {
    border-radius: 10px;
    margin-top: 12px;
    width: 232px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
   
    color: white;
    font-size: 16px;
    font-weight: 500;
    border: none;
    background: #457cdc;
    border-radius: 10px;
    cursor: pointer;
    /* transition: background 0.2s; */
    gap: 8px;
    cursor: pointer;
        transition: all 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.add-note img {
    height: 20px;
}

.add-note:hover {
    background-color: #365fb8;
}

/* Сообщение о пустых заметках */

.filter-notes {
    display:flex; /*none -->  Это свойство должно становиться flex при добавлении заметок*/
    
    align-items: center;
    justify-content:right;
 font-size: 12px;
 margin: 0 64px 12px;
}


.init-text {
    
    font-weight: 500;
font-size: 16px;
line-height: 150%;
text-align: center;
color: #000;
margin-top: 138px;
}

.main-content {
    display: block;/*block -->  Это свойство должно становиться none при добавлении заметок*/
    margin: 0 64px;
    
  }
  .notes-list {
    display: flex;
    flex-wrap: wrap;
        gap: 24px;
        padding: 0 64px;
    list-style-type:  none;
  }

  li {
    width: 368px; 
    height: 216px; 
        box-shadow: 0px 4px 8px rgba(11.48, 11.69, 12.75, 0.08); 
    border-radius: 10px; 
    
    overflow: hidden; 
    flex-direction: column; 
    align-items: center; 
    display: flex;
    height: fit-content; 
  }
 

  .added-title {
display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 12px;
    /* background: #F3DB7D;  */
  }
  .added-title img{
    width: 16px;
    height: 16px;
    cursor: pointer;
   
  }
  .img-menu {
    display: flex;
    flex-direction: row;
    gap: 12px;
  }
  
  .added-description {
    height: fit-content;
    overflow: hidden;
    padding: 12px;
  }
 
  .messages-box{
    display: block;  /*менять на none*/
  position: absolute; /* Размещаем кнопку поверх */
 bottom: 72px; /* Центрируем по вертикали */
  right: 64px ; /* Центрируем по горизонтали */
    border-radius: 10px;
padding: 12px 24px;
color: #fff;
height: 48px;
box-shadow: 0 8px 12px 0 rgba(11, 12, 13, 0.08), 0 16px 24px 0 rgba(11, 12, 13, 0.04), 0 1px 2px 0 rgba(11, 12, 13, 0.08);

display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
  }
  /*свойство приобретается при добавлении заметки*/
  .done {
    
        background: #47b27d;
  }
  /*свойство приобретается при ошибке в заголовке заметки*/
  .mistake {
   
background:rgba(242, 61, 91, 1) ;
  }
 

/* Адаптивность */
@media (max-width: 768px) {
    .note-form {
        padding: 16px;
    }

    .add-note {
        width: 100%;
    }
}
